{{#each this}}
<div class="country-description">
    <h1 class="country-name">{{name}}</h1>
    <p class="country-capital"> <b>Capital:</b> {{capital}}</p>
    <p class="country-population"><b>Population:</b> {{population}}</p>
    <ul class="country-language"><b>Languages:</b>
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
</div>
<img class="contry-flag" src="{{flag}}" alt="{{name}}">
{{/each}}